{% extends "base_enduser.html" %}

{% block title %}Service Overview{% endblock %}

{% block content %}
<div class="container mt-0">
    <h1 class="my-4">Service Overview for {{ company }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Department</th>
                <th>Local Versioning</th>
                <th>Backup</th>
                <th>Ransom-ware Protected</th>
                <th>Data Pipeline</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departmentConsumedServices %}
                <tr>
                    <td>{{ department.name }}</td>
                    <td class="{% if department.local_versioning != 'disabled' %}bold-green{% endif %}">
                        {{ department.local_versioning }}
                    </td>
                    <td class="{% if department.backup != 'disabled' %}bold-green{% endif %}">
                        {{ department.backup }}
                    </td>
                    <td class="{% if department.ransomware_protection != 'disabled' %}bold-green{% endif %}">
                        {{ department.ransomware_protection }}
                    </td>
                    <td class="{% if department.data_pipeline != 'disabled' %}bold-green{% endif %}">
                        {{ department.data_pipeline }}
                    </td>
                    <td>
                        <button class="btn btn-primary modify-service-btn" data-department="{{ department.name }}" data-local-versioning="{{ department.local_versioning }}" data-backup="{{ department.backup }}" data-ransomware="{{ department.ransomware_protection }}" data-pipeline="{{ department.data_pipeline }}">Modify Service</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal for modifying service options -->
<div class="modal fade" id="modifyServiceModal" tabindex="-1" role="dialog" aria-labelledby="modifyServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="modifyServiceForm" class="text-center">
                <div class="modal-header">
                    <h5 class="modal-title w-100" id="modifyServiceModalLabel">Modify Service</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="departmentName" name="departmentName">
                    <div class="form-group">
                        <label for="localVersioning">Local Versioning</label>
                        <br>
                        <select class="form-control" id="localVersioning" name="localVersioning">
                            <option value="disabled">Disabled</option>
                            <option value="standard">Standard</option>
                            <option value="premium">Premium</option>
                            <option value="ultimate">Ultimate</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="backup">Backup</label>
                        <br>
                        <select class="form-control" id="backup" name="backup">
                            <option value="disabled">Disabled</option>
                            <option value="standard">Standard</option>
                            <option value="premium">Premium</option>
                            <option value="ultimate">Ultimate</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ransomware">Ransom-ware Protection</label>
                        <br>
                        <select class="form-control" id="ransomware" name="ransomware">
                            <option value="disabled">Disabled</option>
                            <option value="enabled">Enabled</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dataPipeline">Data Pipeline</label>
                        <br>
                        <select class="form-control" id="dataPipeline" name="dataPipeline">
                            <option value="disabled">Disabled</option>
                            <option value="enabled">Enabled</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="my-4">Storage Units</h1>
    <div class="charts-container">
        <div class="chart-container">
            <canvas id="quotaSizePieChart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="quotaCountPieChart"></canvas>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Department</th>
                <th>Share Name</th>
                <th>Requested Size (GiB)</th>
                <th>Used Size (GiB)</th>
            </tr>
        </thead>
        <tbody>
            {% for quota in quotaReport %}
                <tr>
                    <td>{{ quota.volume.name | replace('ontap_80_', '') }}</td>
                    <td>{{ quota.qtree.name }}</td>
                    <td>{{ '{:0.2f}'.format(quota.space.hard_limit / 1024**3) }}</td>
                    <td>{{ '{:0.2f}'.format(quota.space.used.total / 1024**3) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
{% if quota_distribution_space %}
var ctx = document.getElementById('quotaSizePieChart').getContext('2d');
var quotaSizePieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: {{ quota_distribution_space|map(attribute='0')|list|tojson }},
        datasets: [{
            data: {{ quota_distribution_space|map(attribute='1')|list|tojson }},
            backgroundColor: {{ colors|tojson }},
            borderColor: {{ colors|tojson }},
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Share Distribution (Size - GiB) per Department'
            }
        }
    }
});
{% endif %}
</script>
<script>
{% if quota_distribution_count %}
var ctx = document.getElementById('quotaCountPieChart').getContext('2d');
var quotaCountPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: {{ quota_distribution_count|map(attribute='0')|list|tojson }},
        datasets: [{
            data: {{ quota_distribution_count|map(attribute='1')|list|tojson }},
            backgroundColor: {{ colors|tojson }},
            borderColor: {{ colors|tojson }},
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Share Distribution (Count) per Department'
            }
        }
    }
});
{% endif %}

document.addEventListener('DOMContentLoaded', function() {
    var modifyServiceButtons = document.querySelectorAll('.modify-service-btn');
    modifyServiceButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var departmentName = this.getAttribute('data-department');
            var localVersioning = this.getAttribute('data-local-versioning');
            var backup = this.getAttribute('data-backup');
            var ransomware = this.getAttribute('data-ransomware');
            var pipeline = this.getAttribute('data-pipeline');

            document.getElementById('departmentName').value = departmentName;
            document.getElementById('localVersioning').value = localVersioning;
            document.getElementById('backup').value = backup;
            document.getElementById('ransomware').value = ransomware;
            document.getElementById('dataPipeline').value = pipeline;

            $('#modifyServiceModal').modal('show');
        });
    });

    document.getElementById('modifyServiceForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var formData = new FormData(this);

        fetch('/modify_service', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Service modified successfully!');
                location.reload();
            } else {
                alert('Failed to modify service: ' + data.error);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while modifying the service.');
        });
    });
});
</script>
{% endblock %}