{% extends "base_enduser.html" %}

{% block title %}Request a new Share{% endblock %}

{% block content %}
<div class="container form-container">
    <h1 class="my-4 text-center">Request a new Share for {{ company }}</h1>
    <form method="POST">
        <div class="form-group">
            <label for="volName">Select your department:</label>
            <select name="volName" id="volName" class="form-control">
                {% for department in departments %}
                    <option value="{{ department.name }}">{{ department.name | replace('ontap_81_', '') }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="shareName">Specify share name:</label>
            <input type="text" name="shareName" id="shareName" class="form-control" placeholder="Enter share name">
        </div>
        <div class="form-group">
            <label for="shareSize">Select requested size (GiB):</label>
            <input type="number" name="shareSize" id="shareSize" class="form-control" placeholder="Enter size in GiB">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
    </form>
    {% if message %}
    <div class="alert alert-info mt-4">
        {{ message }}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block styles %}
<style>
    .form-container {
        max-width: 600px;
        margin: 50px auto;
        background-color: #2e2e2e;
        color: #cfcfcf;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .form-group {
        margin-bottom: 20px;
        text-align: center;
    }
    .form-group label {
        color: #cfcfcf;
        margin-bottom: 10px;
        display: block;
    }
    .form-control {
        background-color: #3e3e3e;
        color: #cfcfcf;
        border: 1px solid #555;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .form-control::placeholder {
        color: #999;
    }
    .btn-primary {
        background-color: #2196F3;
        border-color: #2196F3;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .btn-primary:hover {
        background-color: #1976D2;
        border-color: #1976D2;
    }
    .alert-info {
        background-color: #3e3e3e;
        color: #cfcfcf;
        border: 1px solid #555;
    }
</style>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}